<footer class="footer">
  <ul class="footer__sns">
    <li class="footer__snsItem">
      <a class="footer__snsLink" href="https://twitter.com">Twitter</a> /
    </li>

    <li class="footer__snsItem">
      <a class="footer__snsLink" href="https://instagram.com">Instagram</a> /
    </li>

    <li class="footer__snsItem">
      <a class="footer__snsLink" href="https://youtube.com">YouTube</a>
    </li>
  </ul>

  <div class="footer__copyright">
    <small class="footer__copyrightText">© 2021 Mana Ohmoto</small>
  </div><!-- /.footer__copyright -->
</footer>
