// ページ / トップページ
.top {
  background-color: var(--bgColor);
  color: var(--textColor);
  transition: 0.5s;




  // Luminous
  .lum-lightbox.lum-open {
    z-index: 2;
  }

  @media (max-width: 460px) {
    .lum-lightbox-inner img {
      max-width: 120vw;
      max-height: 80vh;
    }
  }

}
