<!DOCTYPE html>
<html lang="ja">

<%- include('components/common/_head.ejs', top) %>


<body class="top">

<div class="hero">
  <div class="hero__content">
    <h1 class="hero__heading">
      <span class="hero__headingSub">Photographer</span>
      Mana Ohmoto
    </h1>

    <ul class="hero__sns">
      <li class="hero__snsItem">
        <a class="hero__snsLink" href="https://twitter.com">Twitter</a> /
      </li>

      <li class="hero__snsItem">
        <a class="hero__snsLink" href="https://instagram.com">Instagram</a> /
      </li>

      <li class="hero__snsItem">
        <a class="hero__snsLink" href="https://youtube.com">YouTube</a>
      </li>
    </ul>
  </div><!-- /.hero__content -->

  <video class="hero__video"
    src="/images/photo-movie.mp4"
    autoplay
    loop>
  </video>
</div><!-- /.hero -->

<ul class="photoList">
  <li class="photoList__item photoList__item--A" data-aos="fade-up">
    <a class="photoList__link" href="/images/img1-800.jpg">
      <img class="photoList__photo"
        srcset="/images/img1-400.jpg 400w,
                /images/img1-800.jpg 800w,
                /images/img1-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img1-400.jpg"
        alt="Sainte Chapelle">
    </a>
  </li>

  <li class="photoList__item photoList__item--B" data-aos="fade-up">
    <a class="photoList__link" href="/images/img2-800.jpg">
      <img class="photoList__photo"
        srcset="/images/img2-400.jpg 400w,
                /images/img2-800.jpg 800w,
                /images/img2-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img2-400.jpg"
        alt="Fushimi Inari Shrine">
    </a>
  </li>

  <li class="photoList__item photoList__item--C" data-aos="fade-up">
    <a class="photoList__link" href="/images/img3-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img3-400.jpg 400w,
                /images/img3-800.jpg 800w,
                /images/img3-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img3-400.jpg"
        alt="The Ocean in Okinawa">
    </a>
  </li>

  <li class="photoList__item photoList__item--D" data-aos="fade-up">
    <a class="photoList__link" href="/images/img4-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img4-400.jpg 400w,
                /images/img4-800.jpg 800w,
                /images/img4-1600.jpg 1600w"
        sizes="(max-width: 599px) 94vw,
               (min-width: 600px) 53vw"
        src="/images/img4-400.jpg"
        alt="Rainbow Colored Ocean">
    </a>
  </li>

  <li class="photoList__item photoList__item--E" data-aos="fade-up">
    <a class="photoList__link" href="/images/img5-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img5-400.jpg 400w,
                /images/img5-800.jpg 800w,
                /images/img5-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img5-400.jpg"
        alt="Île de la Cité">
    </a>
  </li>

  <li class="photoList__item photoList__item--F" data-aos="fade-up">
    <a class="photoList__link" href="/images/img6-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img6-400.jpg 400w,
                /images/img6-800.jpg 800w,
                /images/img6-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img6-400.jpg"
        alt="Night View in Otaru">
    </a>
  </li>

  <li class="photoList__item photoList__item--G" data-aos="fade-up">
    <a class="photoList__link" href="/images/img7-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img7-400.jpg 400w,
                /images/img7-800.jpg 800w,
                /images/img7-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img7-400.jpg"
        alt="English Bay">
    </a>
  </li>

  <li class="photoList__item photoList__item--H" data-aos="fade-up">
    <a class="photoList__link" href="/images/img8-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img8-400.jpg 400w,
                /images/img8-800.jpg 800w,
                /images/img8-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img8-400.jpg"
        alt="Okinawa Churaumi Aquarium">
    </a>
  </li>

  <li class="photoList__item photoList__item--I" data-aos="fade-up">
    <a class="photoList__link" href="/images/img9-800.jpg">
      <img class="photoList__photo"
        srcset="/images/img9-400.jpg 400w,
                /images/img9-800.jpg 800w,
                /images/img9-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img9-400.jpg"
        alt="Fushimi Inari Shrine Gate">
    </a>
  </li>

  <li class="photoList__item photoList__item--J" data-aos="fade-up">
    <a class="photoList__link" href="/images/img10-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img10-400.jpg 400w,
                /images/img10-800.jpg 800w,
                /images/img10-1600.jpg 1600w"
        sizes="(max-width: 599px) 94vw,
               (min-width: 600px) 53vw"
        src="/images/img10-400.jpg"
        alt="Nago City Hall">
    </a>
  </li>

  <li class="photoList__item photoList__item--K" data-aos="fade-up">
    <a class="photoList__link" href="/images/img11-800.jpg">
      <img class="photoList__photo"
        srcset="/images/img11-400.jpg 400w,
                /images/img11-800.jpg 800w,
                /images/img11-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img11-400.jpg"
        alt="Autumn Colors">
    </a>
  </li>

  <li class="photoList__item photoList__item--L" data-aos="fade-up">
    <a class="photoList__link" href="/images/img12-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img12-400.jpg 400w,
                /images/img12-800.jpg 800w,
                /images/img12-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img12-400.jpg"
        alt="Palais de Versailles">
    </a>
  </li>

  <li class="photoList__item photoList__item--M" data-aos="fade-up">
    <a class="photoList__link" href="/images/img13-1600.jpg">
      <img class="photoList__photo"
        srcset="/images/img13-400.jpg 400w,
                /images/img13-800.jpg 800w,
                /images/img13-1600.jpg 1600w"
        sizes="(max-width: 599px) 46vw,
               (min-width: 600px) 26vw"
        src="/images/img13-400.jpg"
        alt="Elizabeth Tower">
    </a>
  </li>
</ul>


<%- include("components/common/_footer.ejs") %>

<%- include('components/common/_script') %>

</body>
</html>
